.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  overflow: hidden;
}

.title {
  color: white;
  font-size: var(--title-size);
}

.title:hover {
  cursor: pointer;
}

.messages {
  overflow-y: scroll;
  position: relative;
  height: 500px;
  width: 100%;
  background-color: rgb(122, 121, 121);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 0 3rem;
  border: none;
  border-radius: .5rem;
}

.leaveChat {
  position: sticky;
  width: max-content;
  margin-left: auto;
  /* right: 10px; */
  top: 1px;
}

.messages::-webkit-scrollbar {
  width: 10px;
}

.messages::-webkit-scrollbar-track {
  border: none;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  background: #555;
  overflow: hidden;
}

.messages::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.message {
  background-color: lightgray;
  max-width: 75%;
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  gap: .25rem;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  word-break: break-all;
}

.ownMessage {
  align-self: flex-end;
  background-color: #dcf8c6;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
}

.othersMessage {
  align-self: flex-start;
  background-color: #f4f4f4;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
}

.messageTitle {
  font-weight: bold;
}

.messageInfo {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}

.eventMessage {
  font-style: italic;
}

.messageBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  overflow: hidden;
  padding: 0 0.25rem;
  background-color: white;
}

.buttonArea {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0 .5rem;
}

.logo {
  width: 25px;
  cursor: pointer;
}

.textInput {
  width: 100%;
  padding: 20px 10px;
  border: none;
  font-size: 20px;
  resize: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textInput:focus {
  outline: none;
}

.textButton {
  padding: 0.25rem;
  background: none;
  border: none;
}

.textButton:hover {
  cursor: pointer;
}
