.main {
  min-height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 3rem;
  padding: 1rem;
}

.title {
  font-size: var(--title-size);
  color: var(--title-color);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.usernameInput {
  width: 75%;
  font-size: 1.5em;
  border: none;
  border-radius: .25rem;
  padding: 1rem;
}

.usernameInput:focus {
  outline: none;
}

.submitButton {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: .25rem;
  font-size: 1rem;
  transition: transform ease-in-out 100ms, background-color ease-in-out 100ms;
}

.submitButton:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 50px;
  }

  .usernameInput {
    width: 100%;
    font-size: 1rem;
  }
}