.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 1rem;
}

.messages {
  overflow: scroll;
  height: 500px;
  width: 100%;
}

.messageBox {
  display: flex;
  gap: 3rem;
}